* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.25rem;
}

.padding-page {
    padding: 60px 200px;
}

.black-bg {
    background-color: rgb(10, 10, 10);
}

.btn {
    padding: 12px 24px;
    border-radius: 18px;
    border: none;
    color: rgb(10, 10, 10);
    background-color: #A8FF36;
    font-size: 0.95rem;
    font-weight: bold;
}

.block-wrap {
    padding: 30px 0;
    display: grid;
}

.collaborate-element {
    padding: 12px 0;
}

.collaborate-img {
    width: 275px;
    height: 275px;
    border-radius: 16px;
    position: absolute;
}

.service-common-block {
    padding: 20px;
    min-width: 300px;
    min-height: 200px;
    max-width: 100%;
    max-height: 100%;
    border-radius: 16px;
    font-size: 1rem;
}

.service-icon {
    min-width: px;
    min-height: 60px;
}

.service-h2 {
    margin: 8px 0;
    font-weight: 500;
    font-size: 1.4rem;
}

.service-p {
    font-size: 1rem;
    margin-bottom: 12px;
}

.service-green-line {
    width: 60%;
    height: 6px;
    background-color: #A8FF36;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.portfolio-snippet {
    width: 100%;
    min-height: 200px;
    border-radius: 16px;
    background-image: linear-gradient(to bottom, rgba(27, 235, 37, 0.932), rgba(18, 139, 24, 0.932));
    box-shadow: 2px 2px 5px rgba(5, 5, 5, 0.2);
}

.double-h1 {
    text-align: center;
    font-size: 1.6rem;
    font-weight: 500;
}

.form-label {
    display: block;
    margin-bottom: 12px;
    font-size: 1.15rem;
    font-weight: 400;
}

.form-input {
    width: 100%;
    padding: 12px 0;
    text-indent: 18px;
    border-radius: 8px;
    border: none;
    box-shadow: 1px 1px 5px rgba(5, 5, 5, 0.1);
    font-size: 1rem;
}

.list-element {
    margin: 36px 0;
    padding: 16px 12px;
    border-radius: 12px;
    border: 1px solid rgb(10, 10, 10);
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-areas: 
    "number cont button"
    "p p p";
    align-items: center;
}

.list-element-showhide {
    grid-area: button;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(10, 10, 10);
    cursor: pointer;
}

.list-element-showhide-arrow {
    width: 100%;
    height: 100%;
    background-image: url("../static/Arrow.png");
    background-position: center;
    background-repeat: no-repeat;
    transition: transform 0.2s ease;
    transform: rotate(0deg);
}

.list-element-showhide-arrow.rotated {
    transform: rotate(180deg);
}

.list-element-h1 {
    grid-area: cont;
    display: inline-block;
    font-size: 1.25rem;
    font-weight: 500;
}

.list-element-p {
    grid-area: p;
    padding-right: 60px;
    font-size: 1.1rem;
    font-weight: 400;
    height: 0;
    overflow: hidden;
    transition: height 0.2s ease;
}

.list-element-p.expanded {
    height: 100px;
}

.footer-article {
    color: whitesmoke;
    padding-top: 24px;
}

.footer-icon {
    margin-right: 16px;
    width: 55px;
    height: 55px;
    border-radius: 16px;

}

.white-bg {
    background-color: whitesmoke;
}

.links {
    text-decoration: none;
    color: whitesmoke;
    font-weight: 500;
}

#header-navbar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    align-items: center;
    justify-items: center;
}

#logo {
    max-width: 90%;
    min-width: 100px;
}

#collaborate-block-wrap {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 12px;
    color: whitesmoke;
}

#collaborate-h1 {
    font-size: 2rem;
    font-weight: 500;
}

#collaborate-p {
    font-size: 1rem;
    line-height: 2rem;
}

#collaborate-btn {
    margin-top: 8px;
}

#collaborate-block2 {
    align-items: center;
    justify-items: center;
    position: relative;
}

#collaborate-img1 {
    background: linear-gradient(#51850C, #A8FF36);
    z-index: 1;
    top: -10px;
    left: 200px;
    transform: rotate(9deg);
}

#collaborate-img2 {
    background: linear-gradient(red, darkred);
    z-index: 2;
}

#about-block-wrap {
    grid-template-columns: repeat(2, 1fr);
}

#about-img1 {
    width: 100%;
    height: 100%;
    background-image:url("../static/about-img.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 16px;
}

#about-block2 {
    padding: 0 48px;
}

#about-h1 {
    margin-bottom: 12px;
    font-size: 2rem;
    font-weight: 500;
}

#about-p {
    font-size: 1rem;
    line-height: 1.5rem;
}

#about-btn {
    margin-top: 16px;
    padding: 16px 48px;
    border-radius: 24px;
}

#service-block1 {
    margin-bottom: 32px;
    text-align: center;
}

#service-block1-h1 {
    color: whitesmoke;
    font-weight: 500;
    font-size: 1.75rem;
}

#service-block2 {
    display: grid;
    grid-template-areas: 
        "art1 art2 art5"
        "art3 art4 art5";
    gap: 24px;
}

#service-block2-art1 {
    grid-area: art1;
}

#service-block2-art2 {
    grid-area: art2
}

#service-block2-art3 {
    grid-area: art3;
}

#service-block2-art4 {
    grid-area: art4;
}

#service-block2-art5 {
    grid-area: art5;
    min-width: 300px;
    min-height: 200px;
    max-width: 100%;
    max-height: 100%;
    border-radius: 16px;
    font-size: 1rem;
}

#service-block2-art5-img {
    background-image: linear-gradient(to bottom, red, darkred);
    width: 100%;
    height: 100%;
    border-radius: 16px;
}

#portfolio-blocks {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 24px;
}

#portfolio-h1 {
    margin-bottom: 32px;
    font-weight: 500;
    font-size: 1.75rem;
}

#pricing-h1-2 {
    color: #51850C;
}

#pricing-form {
    margin-top: 24px;
    padding: 32px;
    box-shadow: 2px 2px 5px rgba(5, 5, 5, 0.2);
    border-radius: 16px;
    display: grid;
    grid-template-areas: 
    "name email"
    "project-type budget"
    "describe describe";
    gap: 12px;
}

#pricing-fullname {
    grid-area: name;
}

#pricing-email {
    grid-area: email;
}

#pricing-project-type {
    grid-area: project-type;
}

#pricing-budget-range {
    grid-area: budget;
}

#pricing-budget-range-block {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1 ,1fr);
    gap: 12px;
}

#pricing-describe {
    grid-area: describe;
    width: 100%;
}

#pricing-describe-input {
    height: 200px;
    resize: none;
    font-size: 1rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#pricing-btn {
    border-radius: 8px;
    margin-top: 12px;
}

#faq-h1-2 {
    color: #51850C;
}

#faq-ol {
    padding: 0 24px;
    list-style-position: inside;
    box-shadow: 2px 2px 5px rgba(5, 5, 5, 0.1);
    border-radius: 12px;
}

#footer-article1-h1 {
    font-size: 1.5rem;
}

#footer-article1-p {
    margin-top: 24px;
    width: 55%;
    font-size: 1rem;
}

#footer-article2 {
    margin-bottom: 48px;
    display: flex;
    flex-direction: row;
}

#footer-icon-1 {
    background-image: url("../static/Instagram.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

#footer-icon-2 {
    background-image: url("../static/ContainerBe.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

#footer-icon-3 {
    background-image: url("../static/Container.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

#footer-icon-4 {
    background-image: url("../static/LinkedIn.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

#footer-article3 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

#footer-article3-p1 {
    font-size: 0.9rem;
}

#footer-article3-p2 {
    text-align: right;
    font-size: 0.9rem;
}

/* Responsivity and animations  */

@keyframes hover-dropdown {
    from {
        background-color: rgb(10, 10, 10)
    } to {
        background-color: #A8FF36;
    }
}

@keyframes btn-hover {
    from {
        background-color: #A8FF36;
        color: rgb(10, 10, 10);
    } to {
        background-color: #51850C;
        color: whitesmoke;
    }
}

.dropdown:hover {
    animation-name: hover-dropdown;
    animation-timing-function: ease-in-out;
    animation-duration: 0.25s;
    animation-fill-mode: forwards;
}

.btn:hover {
    cursor: pointer;
    animation-name: btn-hover;
    animation-timing-function: ease;
    animation-duration: 0.25s;
    animation-fill-mode: forwards;
}

.links:hover {
    color: #A8FF36;
    transition: color 0.4s ease;
}